<h1>Your Notes!</h1>
<p>You can use Sticky Notes to write a to-do list, jot down a phone number, or do anything else that you'd use a pad of paper for. You can use Sticky Notes with a tablet pen or a standard keyboard. To write a note using a tablet pen, simply start writing on the note where you want the ink to appear. To type a note, click where you want the text to appear, and then start typing.</p>
